@font-face {
    font-family: "Alte DIN";
    src: url('../fonts/Din-Regular.otf')  format('truetype');
}

@font-face {
    font-family: "DIN Pro Medium";
    src: url('../fonts/DINNextLTPro-Medium.otf');
}

@font-face {
    font-family: "DIN Pro Next";
    src: url('../fonts/DINNextLTPro-Heavy.otf');
}

@font-face {
    font-family: "DIN Pro Light";
    src: url('../fonts/DINNextLTPro-Light.otf');
}

body {
    font-family: "DIN Pro Next";
}


img {
    min-width: 100%;
    max-width: 100%;
}

.main {
    margin-bottom: 3rem;
}

.main .last-chance-east {
    margin-bottom: 1rem;
}

.main .menu ul {
    width: 95%;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30%, 1fr) );
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
    justify-content: space-between;
    text-align: center;
    font-size: .5rem;
    padding: 2rem 0 1rem 0;
    border-bottom: 3px solid #000;
    margin: 0 auto .5rem auto;
}

.main .menu ul li {
    border-radius: 10px;
    background: #103260;
    border: none;
    list-style: none;
    position: relative;
    top: 0;
    margin: 1px .2em 0 0;
    padding-top: .6rem; 
    transition: all .3s ease-in-out;
}

.main .menu ul li a {
    color: white;
    text-decoration: none;
}

.main .menu ul li:before {
    content: "\203A";
    display: inline-block;
    padding: 5px 7px;
    background: #ffffff;
    float: left;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    color: #000000;
    font-size: 1rem;
    margin-top: -.6rem; 
}

.main .menu ul li:hover {
    cursor: pointer;
    transform: scale(1.1);
}

.main .menu ul .activo {
    background: #000;
}

.main .menu ul .activo:hover {
    background: #000;
    color: #ffffff;
    opacity: 1;
    transform: none;
    cursor: default;
}

.main .menu ul .activo:hover a {
    color: #ffffff;
    cursor: default;
}

@media screen and (min-width: 320px ){
    .main .menu ul li a,
    .main .menu ul li a {
        font-size: .6rem;
    }
}

@media screen and (min-width: 540px ){
    .main .menu ul li a,
    .main .menu ul li a {
        font-size: .8rem;
    }
}

@media screen and (min-width: 768px ){
    .main .menu ul {
        grid-template-columns: repeat(auto-fit, minmax(150px, 1fr) );
    }
}

/* ENCABEZADO */

.text-standings {
    width: 100%;
}

.text-standings h2 {
    font-family: "DIN Pro Next";
    color: #103260;
    font-size: 1.5rem;
    text-align: center;
    margin-bottom: 1rem;
}

@media screen and (min-width: 600px ){
    .text-standings {
        width: 80%;
    }
    
    .text-standings h2 {
        color: #103260;
        font-size: 2rem;
        text-align: left;
    }
}

@media screen and (min-width: 768px ){
    .text-standings {
        width: 80%;
    }
    
    .text-standings h2 {
        font-size: 3rem;
    }
}

.footer {
    background-image: url('../img/banners_BOTsmall.jpg');
    background-repeat: repeat;
    background-position: center center;
    background-size: cover;
    height: 40vh;
    max-width: 100%;
}

@media screen and (min-width: 768px){
    .footer {
        background-image: url('../img/banners_BOT.png');
        background-repeat: no-repeat;
        background-position: center center;
        background-size: cover;
        height: 39vh;
        max-width: 100%;
    }
}

.footer .container {
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    align-items: center;
    justify-content: center;
}


.footer .container h2 {
    font-family: "DIN Pro Next";
    font-size: 1.4rem;
    padding: 0;
    letter-spacing: .1rem;
}

.footer .container .oficial {
    border: 1px solid white;
    padding: .5rem 1rem;
}

.footer .container .play {
    margin-bottom: 2rem;
    -webkit-margin-before: 3rem;
    margin-top: 3rem;
}

@media screen and (min-width: 516px){
    .footer .container {
        flex-direction: row;
        justify-content: space-between;
    }
    
    .footer .container h2 {
        font-size: 1.4rem;
    }

    .footer .container .play {
        margin-bottom: 0;
        -webkit-margin-before: 0;
        margin-top: 0;
    }
}

@media screen and (min-width: 992px){
    .footer .container h2 {
        font-size: 2.2rem;
    }
}

.footer .container .oficial a {
    text-decoration: none;
    color: white;
}

.footer .container .oficial a:hover {
    text-decoration: underline;
}


/* ESTILOS DEL ARCHIVO CROSS CONFERENCE ROUNDS */

.main .rounds {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 1.2rem;
}

.main .rounds a {
    flex-shrink: 1;
    border: 2px solid #103260;
    padding: .2rem .3rem;
    color: #103260;
    border-radius: initial;
    font-size: .6rem;
    margin-right: .5rem;
    transition: all .3s ease-in-out;
}

.main .rounds a:hover {
    text-decoration: none;
    background: #103260;
    color: #e7e6e6;
}

@media screen and (min-width: 600px) {
    .main .rounds {
        width: 80%;
        justify-content: flex-start;
    }

    .main .rounds a {
        font-size: .9rem;
    }
}

/* ESTILOS DE LA TABLA */

.main .tabla {
    font-size: .6rem;
    border-collapse: separate;
    border-spacing: 10px 0;
    width: 700px;
    text-align: center;
}

.table-container {
    padding: 0;
    width:  90%;
    overflow-x: auto;
}

.table td, .table th{
    padding: .3rem;
    letter-spacing: .1rem;
}

.main .tabla thead tr {
    color: white;
    font-weight: normal;
}

@media screen and (min-width: 600px){
    .main .tabla {
        font-size: .6rem;
        width: 95%;
    }

    .table-container {
        overflow-x: visible;
        width: 100%;
    }
}

@media screen and (min-width: 992px){

    .table td, .table th{
        padding: .74rem;
        letter-spacing: unset;
    }

    .main .tabla {
        font-size: 1rem;
    }
}

.main .tabla thead tr td {
    border-radius: 5px;
    background: #103260;
    transition: all .3s ease-in-out;
}

.main .tabla tbody tr td:nth-child(2) {
    font-family: "DIN Pro Next";
}

.main .tabla tbody tr {
    font-family: "Alte DIN";
}

.main .tabla tbody tr td {
    transition: all .3s ease-in-out;
}

.main .tabla tbody tr:hover td {
    background: #e7e6e6;
    color: #00abe4;
}